body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 5%;
}

main {
  background-color: #fbf7e3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  font-size: 1.2rem;
  color: #612406;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main div h2 {
  padding: 8% 2%;
  font-size: 1.5rem;
  font-weight: bold;
}

main div p {
  padding: 2%;
  line-height: 2rem;
}

main img {
  padding: 2%;
  width: 96%;
}

@media screen and (min-width: 768px) {
  body {
    width: 96%;
    margin: 2%;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    height: auto;
  }

  main div {
    align-self: flex-start;
  }

  main img {
    width: 94%;
    padding: 10px;
  }

  main div p {
    padding: 2%;
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
}
